#maindiv{
	margin-left: 10%;
}
.float{
	float:left;
}
.h3{
	text-align:center;
	position:relative;
	left:-20%;
}
#submit_div{
	position:relative;
	left:2rem;
}
#title{
	border:none;
	border-bottom:solid 1px #ABF;
	width:60%;
	font-size: 16px;
}
#button{
	width:60px;
	height:25px;
	font-size: 14px
}