<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=image/title.png>
    <title>个人中心</title>

    <link href=dist/css/app.f56354cb.css rel=preload as=style>
    <link href=dist/js/app.3839ccc3.js rel=preload as=script>
    <link href=dist/js/chunk-vendors.87304452.js rel=preload as=script>
    <link href=dist/css/app.f56354cb.css rel=stylesheet>
    
</head>

<body>
    <div id=app></div>

    <script src=dist/js/chunk-vendors.87304452.js> </script> <script src=dist/js/app.3839ccc3.js> </script>

</body> </html>